Django==1.10.3
djangorestframework==3.5.2
jsonfield==1.0.3
celery==4.0.2
psycopg2==2.6.2
channels==0.17.3
asgi_redis==1.0.0
daphne
flower

# Disable these for docker envs
# scipy
# pandas
# numpy

# Testing
pytest-django==3.0.0
factory-boy
django-extensions
